body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:386px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1194 {
  position:absolute;
  left:115px;
  top:264px;
  width:636px;
  height:386px;
}
#u1195 {
  position:absolute;
  left:2px;
  top:185px;
  width:632px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
}
#u1196 {
  position:absolute;
  left:115px;
  top:90px;
  width:129px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u1197 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:40px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1199 {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:40px;
}
#u1200 {
  position:absolute;
  left:2px;
  top:12px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:19px;
}
#u1201 {
  position:absolute;
  left:116px;
  top:10px;
  width:114px;
  height:19px;
}
#u1202 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:41px;
}
#u1203 {
  position:absolute;
  left:1048px;
  top:0px;
  width:208px;
  height:41px;
}
#u1204 {
  position:absolute;
  left:2px;
  top:12px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1371px;
  height:2px;
}
#u1205 {
  position:absolute;
  left:0px;
  top:40px;
  width:1370px;
  height:1px;
}
#u1206 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1207 {
  position:absolute;
  left:1181px;
  top:11px;
  width:20px;
  height:20px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u1209_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1209_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1210 {
  position:absolute;
  left:115px;
  top:0px;
  width:380px;
  height:120px;
  overflow:hidden;
}
#u1210_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1210_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1211 {
  position:absolute;
  left:0px;
  top:40px;
  width:380px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1212 {
  position:absolute;
  left:2px;
  top:26px;
  width:376px;
  word-wrap:break-word;
}
#u1210_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1210_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u1213 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u1214 {
  position:absolute;
  left:2px;
  top:23px;
  width:376px;
  word-wrap:break-word;
}
#u1219 {
  position:absolute;
  left:495px;
  top:0px;
  width:380px;
  height:120px;
  overflow:hidden;
}
#u1219_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1219_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1220 {
  position:absolute;
  left:0px;
  top:40px;
  width:380px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1221 {
  position:absolute;
  left:2px;
  top:26px;
  width:376px;
  word-wrap:break-word;
}
#u1219_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1219_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u1222 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u1223 {
  position:absolute;
  left:2px;
  top:23px;
  width:376px;
  word-wrap:break-word;
}
#u1226 {
  position:absolute;
  left:875px;
  top:0px;
  width:380px;
  height:120px;
  overflow:hidden;
}
#u1226_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1226_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1227 {
  position:absolute;
  left:0px;
  top:40px;
  width:380px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:26px;
  width:376px;
  word-wrap:break-word;
}
#u1226_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1226_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u1229 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u1230 {
  position:absolute;
  left:2px;
  top:26px;
  width:376px;
  word-wrap:break-word;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1233 {
  position:absolute;
  left:0px;
  top:119px;
  width:1370px;
  height:70px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:27px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:21px;
}
#u1235 {
  position:absolute;
  left:615px;
  top:144px;
  width:105px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1236 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u1237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1237 {
  position:absolute;
  left:559px;
  top:136px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u1238 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u1239 {
  position:absolute;
  left:402px;
  top:144px;
  width:114px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1240 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1241 {
  position:absolute;
  left:346px;
  top:136px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#999999;
}
#u1242 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:21px;
}
#u1243 {
  position:absolute;
  left:818px;
  top:144px;
  width:144px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1244 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u1245 {
  position:absolute;
  left:243px;
  top:144px;
  width:61px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1246 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1247 {
  position:absolute;
  left:1178px;
  top:136px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u1248 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1249 {
  position:absolute;
  left:187px;
  top:136px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u1250 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1251 {
  position:absolute;
  left:762px;
  top:136px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u1252 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1209_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1253 {
  position:absolute;
  left:115px;
  top:69px;
  width:380px;
  height:120px;
  overflow:hidden;
}
#u1253_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1253_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1254 {
  position:absolute;
  left:0px;
  top:40px;
  width:380px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:26px;
  width:376px;
  word-wrap:break-word;
}
#u1253_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1253_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u1256 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u1257 {
  position:absolute;
  left:2px;
  top:23px;
  width:376px;
  word-wrap:break-word;
}
#u1262 {
  position:absolute;
  left:495px;
  top:69px;
  width:380px;
  height:120px;
  overflow:hidden;
}
#u1262_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1262_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1263 {
  position:absolute;
  left:0px;
  top:40px;
  width:380px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1264 {
  position:absolute;
  left:2px;
  top:26px;
  width:376px;
  word-wrap:break-word;
}
#u1262_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1262_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u1265 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u1266 {
  position:absolute;
  left:2px;
  top:23px;
  width:376px;
  word-wrap:break-word;
}
#u1269 {
  position:absolute;
  left:875px;
  top:69px;
  width:380px;
  height:120px;
  overflow:hidden;
}
#u1269_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1269_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1270 {
  position:absolute;
  left:0px;
  top:40px;
  width:380px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1271 {
  position:absolute;
  left:2px;
  top:26px;
  width:376px;
  word-wrap:break-word;
}
#u1269_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1269_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u1273 {
  position:absolute;
  left:2px;
  top:26px;
  width:376px;
  word-wrap:break-word;
}
#u1276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1276 {
  position:absolute;
  left:115px;
  top:173px;
  width:957px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1277 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  word-wrap:break-word;
}
#u1278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u1278 {
  position:absolute;
  left:337px;
  top:437px;
  width:193px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  text-align:center;
}
#u1279 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1280 {
  position:absolute;
  left:802px;
  top:264px;
  width:270px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1281 {
  position:absolute;
  left:2px;
  top:16px;
  width:266px;
  word-wrap:break-word;
}
#u1282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1283 {
  position:absolute;
  left:802px;
  top:356px;
  width:270px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1284 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:41px;
}
#u1285 {
  position:absolute;
  left:847px;
  top:342px;
  width:104px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u1286 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
