body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:973px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:16px;
}
#u505 {
  position:absolute;
  left:177px;
  top:24px;
  width:161px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:16px;
}
#u506 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u507 {
  position:absolute;
  left:119px;
  top:24px;
  width:46px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u508 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:16px;
  line-height:22px;
}
#u509 {
  position:absolute;
  left:177px;
  top:82px;
  width:796px;
  height:176px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:16px;
  line-height:22px;
}
#u510 {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  word-wrap:break-word;
}
#u511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u511 {
  position:absolute;
  left:119px;
  top:82px;
  width:46px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u512 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:420px;
}
#u513 {
  position:absolute;
  left:295px;
  top:289px;
  width:560px;
  height:420px;
}
#u514 {
  position:absolute;
  left:2px;
  top:202px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u515 {
  position:absolute;
  left:119px;
  top:783px;
  width:46px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u516 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:16px;
  line-height:22px;
}
#u517 {
  position:absolute;
  left:177px;
  top:783px;
  width:796px;
  height:220px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:16px;
  line-height:22px;
}
#u518 {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  word-wrap:break-word;
}
#u519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:420px;
}
#u519 {
  position:absolute;
  left:295px;
  top:1053px;
  width:560px;
  height:420px;
}
#u520 {
  position:absolute;
  left:2px;
  top:202px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u521 {
  position:absolute;
  left:119px;
  top:1526px;
  width:46px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u522 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:16px;
  line-height:22px;
}
#u523 {
  position:absolute;
  left:177px;
  top:1526px;
  width:796px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:16px;
  line-height:22px;
}
#u524 {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  word-wrap:break-word;
}
#u525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:420px;
}
#u525 {
  position:absolute;
  left:295px;
  top:1597px;
  width:560px;
  height:420px;
}
#u526 {
  position:absolute;
  left:2px;
  top:202px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u527 {
  position:absolute;
  left:119px;
  top:2059px;
  width:46px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u528 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:16px;
  line-height:22px;
}
#u529 {
  position:absolute;
  left:177px;
  top:2059px;
  width:796px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:16px;
  line-height:22px;
}
#u530 {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  word-wrap:break-word;
}
